<?xml version="1.0" encoding="UTF-8"?>
<rli-config>
  <use-button-pannel>true</use-button-pannel>
  <default-layout>1024x768</default-layout>

  <layouts>
    <layout size="1024x768">
      <rli-circle x="404" y="384" radius="360" />
      <menu x="-4" y="152" width="236" height="262" font="12x14" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <panel name="gain" x="4" y="4" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="water" x="4" y="29" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="rain" x="4" y="54" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="apch" x="4" y="79" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="emission" x="151" y="4" width="155" height="21" bar_width="40" font="12x14" />

        <panel name="label5" x="4" y="104" width="102" height="20" font="12x14" />
        <panel name="band" x="4" y="128" width="102" height="20" font="12x14" />

        <panel name="label1" x="-244" y="44" width="112" height="20" font="12x14" />
        <panel name="label2" x="-244" y="68" width="112" height="20" font="12x14" />
        <panel name="label3" x="-244" y="92" width="112" height="20" font="12x14" />
        <panel name="label4" x="-244" y="-68" width="96" height="32" font="16x28" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="16x28" />
          <text name="slash" rect="85x5x16x28" allign="center" font="16x28" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="14x14" />
          <text name="units" rect="176x12x56x14" allign="center" font="14x14" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66" font1="12x14">
          <text name="header" rect="" allign="center" font="12x14" />
          <table name="table" top="" rows="" row_height="">
            <column name="col1" left="" width="" allign="left" />
            <column name="col2" left="" width="" allign="right" />
            <column name="col3" left="" width="" allign="center" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52" font1="12x14" font2="8x14" />

        <panel name="cursor" x="-4" y="-4" width="236" height="60" font1="12x14" font2="8x14" />

        <panel name="course" x="-4" y="4" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="position" x="-4" y="46" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="blank" x="-4" y="88" width="236" height="38" />
        <panel name="clock" x="-4" y="130" width="236" height="18" font1="12x14" />

        <panel name="danger" x="-4" y="-330" width="236" height="20" font1="12x14" />
        <panel name="tails" x="-4" y="-306" width="236" height="20" font1="12x14" font2="8x14" />
        <panel name="danger-details" x="-4" y="-264" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="vector" x="-4" y="-240" width="236" height="20" font1="12x14" font2="8x14" />
        <panel name="targers" x="-4" y="-68" width="236" height="168" font1="12x14" font2="8x14" />
      </panels>
    </layout>

    <layout size="1366x768">
      <rli-circle x="404" y="384" radius="360" />
      <menu x="-4" y="152" width="236" height="262" font="12x14" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <panel name="gain" x="4" y="4" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="water" x="4" y="29" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="rain" x="4" y="54" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="apch" x="4" y="79" width="143" height="21" bar_width="40" font="12x14" />
        <panel name="emission" x="151" y="4" width="155" height="21" bar_width="40" font="12x14" />

        <panel name="label5" x="4" y="104" width="102" height="20" font="12x14" />
        <panel name="band" x="4" y="128" width="102" height="20" font="12x14" />

        <panel name="label1" x="-244" y="48" width="112" height="20" font="12x14" />
        <panel name="label2" x="-244" y="72" width="112" height="20" font="12x14" />
        <panel name="label3" x="-244" y="96" width="112" height="20" font="12x14" />
        <panel name="label4" x="-244" y="-68" width="96" height="32" font="16x28" />


        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="40" font1="16x28" font2="14x14">
          <text name="scale1" rect="5x5x80x28" allign="center" font="16x28" />
          <text name="slash" rect="85x5x16x28" allign="center" font="16x28" />
          <text name="scale2" rect="101x17x70x14" allign="center" font="14x14" />
          <text name="units" rect="175x12x56x14" allign="center" font="14x14" />
          <rect name="splitter" rect="173x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66" font1="12x14" />
        <panel name="vd" x="-244" y="-4" width="140" height="52" font1="12x14" font2="8x14" />

        <panel name="cursor" x="-4" y="-4" width="236" height="60" font1="12x14" font2="8x14" />

        <panel name="course" x="-4" y="4" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="position" x="-4" y="46" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="blank" x="-4" y="88" width="236" height="38" />
        <panel name="clock" x="-4" y="130" width="236" height="18" font1="12x14" />

        <panel name="danger" x="-4" y="-330" width="236" height="20" font1="12x14" />
        <panel name="tails" x="-4" y="-306" width="236" height="20" font1="12x14" font2="8x14" />
        <panel name="danger-details" x="-4" y="-264" width="236" height="38" font1="12x14" font2="8x14" />
        <panel name="vector" x="-4" y="-240" width="236" height="20" font1="12x14" font2="8x14" />
        <panel name="targers" x="-4" y="-68" width="236" height="168" font1="12x14" font2="8x14" />
      </panels>
    </layout>
  </layouts>

</rli-config>
